.box-shadow:hover{
	-webkit-box-shadow: 0 20px 40px rgba(47, 47, 246, 0.219);
	box-shadow: 0 5px 50px rgba(47, 47, 246, 0.219);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
